* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f1f1f1;
}

nav {
  height: 5rem;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #cd4b60;
}

.brand-logo {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: #f1f1f1;
  padding: 1rem;
  margin-bottom: 2rem;
  position: absolute;
  top: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-top: 2rem;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 7rem;
  gap: 1rem;
}

.form-control {
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.4rem;
}

.btn {
  width: 40%;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: rgb(234, 55, 55);
}

.btn-primary {
  background: hsl(242deg 88% 56%);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-top: 2rem;
}

.board__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board__card--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background: #f1f1f1;
  border-radius: 0.5rem;
}

.board__card--header__city__name__title {
  font-size: 1.8rem;
  font-weight: 700;
}

.board__title {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.board__card--header__city__forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  nav {
    height: 6rem;
  }

  .brand-logo {
    font-size: 3rem;
  }

  .container {
    flex-direction: row;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-top: 2rem;
    gap: 1rem;
  }

  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    gap: 1rem;
    margin-top: 2rem;
  }

  .board__card--header__city__name {
    padding: 3rem;
  }

  .board__card--header__city__name__title,
  .board__card--header__city__name__temp {
    font-size: 3rem;
  }

  .board__card--header__city__name__date {
    font-size: 2.2rem;
  }

  .board__card--header__city__forecast {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .board__card--header__city__name__desc {
    font-size: 2rem;
  }

  .board__card--header__city__name__img {
    transform: scale(2);
    margin: 3rem;
  }
}
